* {
	margin: 0;
	padding: 0;
}
html{
	scroll-behavior: smooth;
}

header {
	width: 100vw;
	height: 100vh;
	
}
/* NAV BAR y contenidos */
nav {
	width: 100vw;
	color: black;
	font-size: 1.3rem;
	font-family: "Roboto Mono", monospace;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgb(1, 0, 8);
	background: linear-gradient(
		90deg,
		rgba(1, 0, 8, 0.01) 0%,
		rgba(149, 4, 14, 1) 78%,
		rgba(88, 15, 15, 1) 100%
	);
}

@media (max-width: 800px) {
	nav {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		font-size: 0.9em;
	}
}

.logo img {
	margin: 20px 0px 5px 50px;
	width: 100px;
	color: white;
}

@media (max-width: 800px) {
	.logo img {
		width: 120px;
		margin-top: 20px;
		margin: 0;
	}
}

.navegacion ul {
	display: flex;
	list-style: none;
	margin-right: 5px;
	text-decoration: none;
}
.navegacion ul a{
	text-decoration: none;
}


.navegacion ul li {
	margin: 15px;
}
.navegacion ul li:hover {
	color: #ff0008;
	cursor: pointer;
}

/* Portada */

.portada {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
}
.portada img {
	position: absolute;
	height: 100%;
	width: 100%;
}

.portada h1 {
	font-family: "Courier New", Courier, monospace;
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	font-size: 100px;
}

.portada .logo-fondo {
	margin-top: 20px;
	width: 200px;
	height: 200px;
}

@media (max-width: 800px) {
	.portada h1 {
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		font-size: 60px;
		margin-top: 250px;
	}

	.portada .logo-fondo {
		width: 150px;
		height: 150px;
	}
}

/* carrusel de imagenes */

.container {
	margin: auto;
	background-color: white;
	width: 800px;
	padding: 30px;
}

ul,
li {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.slider {
	position: relative;
	width: 800px;
	height: 300px;
}

ul.slider li {
	position: absolute;
	left: 0px;
	top: 0px;
	opacity: 0;
	width: inherit;
	height: inherit;
	transition: opacity 0.5s;
	background: #fff;
}

ul.slider li img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	border-radius: 25px;
}

@media (max-width: 800px) {
	ul.slider li img {
		width: 75%;
	}
}

ul.slider li:first-child {
	opacity: 1;
}

ul.slider li:target {
	opacity: 1;
}

.menu {
	text-align: center;
	margin: 20px;
}
@media (max-width: 800px) {
	.menu {
		width: 60%;
		text-align: center;
	}
}

.menu li {
	display: inline-block;
	text-align: center;
}

.menu li a {
	display: inline-block;
	color: white;
	text-decoration: none;
	background-color: #6a0c0f;
	padding: 10px;
	width: 20px;
	height: 20px;
	font-size: 20px;
	border-radius: 100%;
}

.menu a:hover {
	background-color: #ff0008;
}

/*  seccion de presentaciones */

.box-presentacion {
	width: 100%;
    display: flex;
    justify-content: center;
}

.presentacion {
	box-shadow: 1px 6px 45px 13px rgba(0, 0, 0, 0.86);
	-webkit-box-shadow: 1px 6px 45px 13px rgba(0, 0, 0, 0.86);
	-moz-box-shadow: 1px 6px 45px 13px rgba(0, 0, 0, 0.86);
    border-radius: 10px;
	display: flex;
	flex-direction: column;
    justify-content: center;
	align-items: center;
	text-align: center;
	width: 90%;
    margin-left: 50px;
	padding: 100px;
}

.presentacion h2 {
    text-shadow: 4px 3px 6px rgba(0,0,0,0.68);
	font-size: 50px;
	font-family: "Courier New", Courier, monospace;
}

.presentacion p {
	margin-top: 15px;
	font-size: 20px;
	font-family: "Times New Roman", Times, serif;
}




/* footer */

footer {
	margin-top: 100px;
	background-color: black;
	color: white;
	display: flex;
	justify-content:space-around;
	padding: 3rem;
  }
  
  .redes-sociales-footer{
  
	display: inline-block;
	text-align: center;
   
  }
  
  .contenedor-footer p{
	margin: 5px;
  }
  
  .redes-sociales-footer i{
	margin: 15px;
	font-size: 25px;
  }
  
  .redes-sociales-footer i:hover{
	color:  #ac5c08;
	 cursor: pointer; 
  }
  
 
  .facebook.svg{
	color: #fff;
  }